<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <title>{{ page.title }} • colectivo transdisciplinario | hacklab</title>
    <link rel="stylesheet" href="{{ site.url }}/css/foike.css">
    <link rel="icon" href="{{ site.url }}/favicon.ico">
    <meta name="author" content="árbol">
    <meta name="description" content="árbol | alfabetización digital y soberanía tecnológica en la ciudad autónoma de buenos aires">
    <meta name="keywords" content="hacklab, hackerspace, edu, educación, software libre, aprender, co-aprentizaje, soberanía tecnológica, paragogía, peeragogy">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
