      <footer>
        <hr>
        <h1>Señales de vida</h1>
        <p>
          <a href="https://lists.riseup.net/www/rss/latest_arc/foike?count=20&amp;for=30" 
title="hilo de RSS"><span class="icon icon-feed"> </span>RSS</a>
          <a href="https://lists.riseup.net/www/info/foike" title="lista de 
correo"><span class="icon icon-mail"> </span>colectivo@foike.org</a>
          <a href="https://twitter.com/arbolab" title="seguir en Twitter"><span 
class="icon icon-twitter"> </span>@arbolab</a>
        </p>
        <hr>
        {% include nav-top.html %}
      </footer>
