{% include head.html %}
  <body>
    <main>
      <header>
	<hgroup>
	  <h1><a href="/hacklab"><img src="img/foike-arbol.png" alt="foike"></a></h1>
	  <h2>
	    colectivo transdisciplinario
	    <span>|</span>
	    <a href="hacklab">hacklab</a>
	  </h2>
	</hgroup>
	<nav>
	  <ul>
	    <li>Entender el mundo presente</li>
	    <li>Adquirir las <em>τέχνες</em> para inventar nuestra tecnología</li>
	    <li>Relám<em>pago en afectivo</em>, ético y estético</li>
	  </ul>
	</nav>
      </header>
      <article>
	{{ content }}
      </article>
      {% include main-footer.html %}
    </main>
    {% include ftr/0000-buscamos-lugar.html %}
    <!-- Here Be Dragons -->
    {{ page.script }}
  </body>
</html>
